@use './abstract/variables' as *;
@use './base/reset' as *;
@use './abstract/mixins';


.app {
  border: 0px solid $border;
  display: grid;
  gap: 5px;
  margin-left: 20px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 54px auto;

  header {
    align-items: center;
  }

  grid-template-areas: "aside header"
  "aside main";

  header {
    grid-area: header;
  }

  aside {
    padding-top: 20px;
    grid-area: aside;
  }

  main {
    grid-area: main;
  }

}

.frendly {
  display: grid;
  border: 1px solid $border;
  border-radius: 10px;
  grid-template-areas:
    "aside header header"
    "aside main frendly"
  ;
  &-content{
    height: 100vh;
    padding: 20px;
    border-radius: 10px;
  grid-area: frendly;
  border: 1px solid $border;
  }
  &-title {
    @include mixins.frendly;
  }
  &-icon {
    @include mixins.frendly;

    i {
      cursor: pointer;
      color: $gray;
    }
  }
    &-card{
    display: flex;
    gap: 20px;
  }
  &-list{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    gap: 30px;
  }
}
.frendly img{
  width: 50px;
}
.logo {
  padding-bottom: 15px;
}
// -----------aside design-----------
aside {
  border: 0px solid $border;
  background-color: black;
  height: 100vh;

  ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  li {
    list-style: none;
  }

  a {
    color: rgb(206, 203, 203);
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  i {
    margin-right: 15px;
  }
}

body.liked-page .asid-icons .liked a[href="liked.html"] {
  color: #fff;
}
main {
  border: 1px solid $border;
  padding: 20px;
  border-radius: 10px;
}

.top-menu {
  border: 0px solid wheat;
  // display: flex;
  // justify-content: space-between;
  @include mixins.flex-layout;
  align-items: center;
  background-color: black;
  height: 54px;

  ul {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

}

.top-menu {
  &-right {
    display: flex;
    gap: 25px;
    margin-right: 10px;
  }

  &-right i {
    cursor: pointer;
    color: $gray;
  }

  &-left i,
  a {
    cursor: pointer;
    color: $gray;

  }
  .users-active a[href="frend.html"] i {
    color: #fff;
  }
}


.home-btn {
  padding: 15px 20px;
  background: #1e1e1e;
  width: 170px;
  border-radius: 10px;
}

.section-title {
  margin: 25px 0;
  font-size: 28px;
}

// cards design


body {
  background: $bg;
  font-family: Arial, sans-serif;
  color: $text;
}

.for-you {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .arrow {
    display: flex;
    gap: 30px;

    i {
      font-size: 14px;
      display: flex;
      cursor: pointer;
      color: $gray;
      opacity: .5;
    }

    .arrow-active {
      @include mixins.active-color;
    }

    .dots {
      @include mixins.active-color;
    }
  }
}

/* FILTER BUTTONS */

.filters {
  display: flex;
  gap: 10px;

  button {
    background: #1e1e1e;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    color: $gray;
    cursor: pointer;

    &.active {
      background: $active;
      color: black;
    }
  }

}

.card img {
  width: 100px;
}

// .cards{
//   border: 1px solid white;
//   display: flex;
//   gap: 20px;
// }
// .card{
//   border: 1px solid white;
// }

/* CARDS GRID */

.cards {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 25px;

}

/* CARD */

.card {

  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;

  img {
    width: 100%;
    border-radius: 10px;
  }

  .card-text {
    margin-top: 10px;

    .title {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
    }

    p {
      margin-top: 5px;
      font-size: 14px;
      color: $gray;
      line-height: 1.4;
    }
  }

  &:hover {
    transform: scale(1.03);
    transition: 0.3s;
  }
}

.play-btn {

  position: absolute;

  right: 15px;
  bottom: 15px;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: none;

  background: #1db954;
  color: black;

  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;


  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s;

}

.card:hover .play-btn {

  opacity: 1;
  transform: translateY(0);

}



// card design end shadow
.card::before,
.card::after {

  content: "";
  position: absolute;

  width: 90%;
  height: 10px;

  background: #2a2a2a;
  border-radius: 10px;

  left: 5%;

  z-index: -1;
}

.card::before {
  top: -8px;
}

.card::after {
  top: -16px;
}


// liked page design

.songs {
  padding: 20px;
  color: #fff;

  &__header {
    display: grid;
    grid-template-columns: 50px 2fr 2fr 1fr;
    padding: 10px 0;
    // border-bottom: 1px solid #333;
    color: #aaa;
    font-size: 14px;
  }

  &__list {
    margin-top: 10px;
  }
}
.song {
  display: grid;
  grid-template-columns: 50px 2fr 2fr 1fr;
  align-items: center;
  padding: 10px 0;
  border-radius: 6px;
  transition: 0.3s;

  &:hover {
    background: #1a1a1a;
  }

  &__index {
    color: #aaa;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 4px;
    }

    h4 {
      font-size: 14px;
    }

    p {
      font-size: 12px;
      color: #aaa;
    }
  }

  &__album {
    color: #aaa;
    font-size: 13px;
  }

  &__time {
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      color: #1db954;
      cursor: pointer;
    }
  }
}
.song__time i {
  opacity: 0.7;
  transition: 0.2s;

  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}
// liked page design end icons
.songs-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #aaa;
   border-bottom: 1px solid #333;

  button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    transition: 0.2s;

    i {
      font-size: 14px;
    }

    &:hover {
      color: #fff;
    }
  }

  &__left {
    display: flex;
    gap: 10px;

    .view {
      padding: 6px;
      border-radius: 4px;

      &.active {
        background: #1a1a1a;
        color: #fff;
      }
    }
  }

  &__right {
    display: flex;
    gap: 15px;

    button {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    .search {
      font-size: 16px;
    }
  }
}
// mobile design
@media (max-width:925px){
  .frendly-content{
    display: none;
  }
}
@media (max-width:775px){
  .top-menu,aside{
    display: none;
  }
  .app{
    grid-template-columns: 1fr;
    margin:0 auto;
    // background-color: red;
    justify-content: center;
    max-width: 100% !important;
  }
}
