body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.app {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 54px auto;
    header {
        align-items: center;
    }
    grid-template-areas: 
    "aside header"
    "aside main";
    header {
        grid-area: header;
    }
    aside {
        padding-top: 20px;
        grid-area: aside;
    }
    main {
        grid-area: main;
    }
}
.logo {
    margin-left: 35px;
}
aside{
    border: 1px solid black;
    background-color: black;
    height: 100vh;

    ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    li {
        list-style: none;
    }

    a {
        color: rgb(206, 203, 203);
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    i {
        margin-right: 15px;
    }
}

main {
    border: 1px solid black;
}

.top-menu {
    border: 0px solid wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 54px;
    ul {
        display: flex;
        gap: 25px;
    }
    li{
        list-style: none;
    }
    a{
        color: white;
        text-decoration: none;
    }

    .right-top-menu {
        display: flex;
        gap: 25px;
        margin-right: 10px;
    }
}